{% extends "base.html" %}

{% block content %}
<h1> О проекте </h1>
<div class="col-md6 border rounded">
    <h2> О сайте </h2>
    <p> На сайте пользователь может отслеживать предметы, которые ему интересны. Для этого он может создать новый
      предмет или добавить в отслеживаемое чужие.
    </p>
    <p> На сайте пользователь может посещать аккаунты других пользователей.
    </p>
</div>
<p>
    <img src="static/object.JPG" alt="Oops.............................................................................">
    <img src="static/add.JPG" alt="Oops.............................................................................">
</p>
<div class="col-md6 border rounded">
    <h2> О сайте 2 </h2>
    <p> На сайте пользователь может также посещать чужие аккаунты, просматривая их отслеживаемые предметы (за искл.
        приватных) и добавляя понравившиеся.
    </p>
</div>

{% endblock %}