{% extends "base.html" %}

{% block content %}
<h1>Ваш профиль</h1>
<a href="/items_add" class="btn btn-success"> Создать отслеживаемый предмет </a>
{% for item in items %}
{% if item.user == current_user %}
<div class="col-md6 border rounded">
        <h2>{{item.title}}</h2>
        <div>
            {{item.content}}
        </div>
        <div>
            Автор - {{item.creator}}, Дата написания - {{item.created_date}}
        </div>
        <div>
            Цена - {{item.price}}, Ссылка - {{item.link}}
        </div>
        <div>
            <a href="/items_edit/{{ item.id }}" class="btn btn-warning">
                Изменить
            </a>
            <a href="/items_delete/{{ item.id }}" class="btn btn-danger">
                Удалить
            </a>
        </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}