{% extends "base.html" %}

{% block content %}
<h1>Предметы</h1>
{% for item in items%}
{% if current_user.is_authenticated and item.user != current_user %}
<div class="col-md6 border rounded">
        <h2>{{item.title}}</h2>
        <a href="items" class="btn btn-secondary">Добавить в отслеживаемое</a>
        <div>
            {{item.content}}
        </div>
        <div>
            Автор - {{item.user.name}}, Дата создание - {{item.created_date}}
        </div>
        <div>
            Цена - {{item.price}}, Дата создание - {{item.link}}
        </div>
</div>
{% endif %}
{% if not current_user.is_authenticated and item.user.name == 'Admin' %}
<div class="col-md6 border rounded">
        <h2>{{item.title}}</h2>
        <div>
            {{item.content}}
        </div>
        <div>
            Автор - {{item.user.name}}, Дата создание - {{item.created_date}}
        </div>
        <div>
            Цена - {{item.price}}, Дата создание - {{item.link}}
        </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}