{% extends "base.html" %}

{% block content %}
<h1>Предметы</h1>
<div class="col-md6 border rounded">
    <h4>Все</h4>
    <a class="btn btn-success" href="/sorted_by/1">Сортировать по этому параметру</a>
</div>
<div class="col-md6 border rounded">
    <h4>Творчество</h4>
    <a class="btn btn-success" href="/sorted_by/2">Сортировать по этому параметру</a>
</div>
<div class="col-md6 border rounded">
    <h4>Учеба</h4>
    <a class="btn btn-success" href="/sorted_by/3">Сортировать по этому параметру</a>
</div>
<div class="col-md6 border rounded">
    <h4>Спорт</h4>
    <a class="btn btn-success" href="/sorted_by/4">Сортировать по этому параметру</a>
</div>
<div class="col-md6 border rounded">
    <h4>Игры</h4>
    <a class="btn btn-success" href="/sorted_by/5">Сортировать по этому параметру</a>
</div>
<div class="col-md6 border rounded">
    <h4>Другое</h4>
    <a class="btn btn-success" href="/sorted_by/6">Сортировать по этому параметру</a>
</div>
{% endblock %}